// index.scss

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Lato:wght@300;400;700;900&display=swap');
$black: #221f22;
$gray: #646464;
$pink-3: #7e353b;
$pink-2: #883757;
$pink-1: #bd2b5a;
$pink-1b: #ce4679;
$pink0: #e04883;
$pink1: #c98da0;
$pink2: #f4a2c4;
$pink3: #f1d9d9;
$pink4: #a323a3;
$font2: 'Lato', 'Cabin';
$font1: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;

* {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $pink3;
  background-color: $gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  font-family: $font1;

  .nav-icon {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
  }

  .h-c1 {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .nav-text {
      font-weight: 500;
    }
  }

  .h-c2 {
    display: flex;
    gap: 0.3rem;

    .header-title {
      font-family: $font1;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .h-c3 {
    display: flex;
    gap: 1rem;
  }

  .logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      height: 3rem;
    }
  }

  .menu > ul {
    display: flex;
    gap: 0.4rem;

    a {
      color: #1f81dd;
      text-decoration: none;
    }

    a.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.banner {
  padding: 0.6rem 1rem;
  font-family: $font2;
  font-weight: 700;
  background-color: $pink0;
}

.brands-container,
.phones-container {
  margin: 0;
  padding: 0;
  background-color: $pink-1b;

  hr {
    margin: 1rem 0;
    padding: 0.08rem 0;
    background-color: #ddd;
    border: none;
  }

  .brands-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $pink0;
    width: 100%;

    li:nth-child(even) {
      background-color: $pink-1b;
    }

    .brand-card {
      display: flex;
      flex-direction: column;
      padding: 0.3rem;

      > * {
        padding: 0.4rem;
      }

      .c1 {
        display: flex;
        flex-direction: column;

        button {
          cursor: pointer;
          align-self: flex-end;
          border: none;
          margin: 0;
          padding: 0;
          background-color: rgb($pink0, 0.1);

          .details-icon {
            width: 1.7rem;
          }
        }

        .brand-logo {
          text-align: center;
          font-family: $font2;
          font-size: 0.6rem;
          font-weight: 900;
          color: $pink-3;
        }
      }

      .c2 {
        text-align: end;

        .brand-name {
          margin: 0;
          line-height: 1.2rem;
          text-transform: uppercase;
          font-family: $font2;
          font-size: 1.3rem;
          font-weight: 900;
        }

        .brand-device-count {
          font-family: $font1;
          font-size: 1.1rem;
          font-weight: 700;
        }
      }
    }
  }

  .phones-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $pink-1b;
    width: 100%;

    li:nth-child(even) {
      background-color: $pink0;
    }

    .phone-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0.3rem;

      > * {
        padding: 0.4rem;
      }

      .c1 {
        text-align: end;

        .phone-name {
          margin: 0;
          line-height: 1.2rem;
          text-transform: uppercase;
          font-family: $font2;
          font-size: 1.3rem;
          font-weight: 900;
        }
      }

      .c2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        .phone-image {
          text-align: center;
          font-family: $font2;
          font-size: 0.6rem;
          font-weight: 900;
          color: $pink-3;
        }
      }

      .c3 {
        display: flex;
        flex-direction: column;

        button {
          cursor: pointer;
          align-self: flex-end;
          border: none;
          margin: 0;
          padding: 0;
          background-color: rgb($pink0, 0.1);

          .details-icon {
            width: 1.7rem;
          }
        }
      }
    }
  }

  .rockets-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem;

    .rocket-card {
      display: flex;
      gap: 1rem;

      .c1 {
        .rocket-image {
          width: 15rem;
        }
      }

      .c2 {
        display: flex;
        flex-direction: column;

        .rocket-name {
          font-size: 1.2rem;
          font-weight: 500;
          margin: 0;
          text-align: left;
          color: #000;
        }

        .rocket-res-desc {
          display: flex;

          .rocket-unavailable {
            text-align: left;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.7rem;
            font-weight: bold;
            border-radius: 0.3rem;
            padding: 0.1rem 0.3rem;
            margin-right: 0.4rem;
            border: none;
            background-color: #008f99;
          }

          .rocket-available {
            display: none;
          }

          .rocket-description {
            margin: 0.2rem 0;
            text-align: justify;
            font-size: 0.9rem;
            line-height: 1.4rem;
          }
        }

        button {
          width: fit-content;
          padding: 0.6rem;
          border-radius: 0.3rem;
          cursor: pointer;
        }

        .btn-cancel-reservation {
          color: #555;
          background-color: #f7f7f7;
          border: solid 0.1rem #888;
        }

        .btn-reserve-rocket {
          border: none;
          color: #fff;
          background-color: #1f81dd;
        }
      }
    }
  }
}
