@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Lato:wght@300;400;700;900&display=swap");
* {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #f1d9d9;
  background-color: #646464;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  font-family: "Gill Sans", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;
}
.header .nav-icon {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}
.header .h-c1 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.header .h-c1 .nav-text {
  font-weight: 500;
}
.header .h-c2 {
  display: flex;
  gap: 0.3rem;
}
.header .h-c2 .header-title {
  font-family: "Gill Sans", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.header .h-c3 {
  display: flex;
  gap: 1rem;
}
.header .logo-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .logo-title .logo {
  height: 3rem;
}
.header .menu > ul {
  display: flex;
  gap: 0.4rem;
}
.header .menu > ul a {
  color: #1f81dd;
  text-decoration: none;
}
.header .menu > ul a.active {
  text-decoration: underline;
  font-weight: bold;
}

.banner {
  padding: 0.6rem 1rem;
  font-family: "Lato", "Cabin";
  font-weight: 700;
  background-color: #e04883;
}

.brands-container,
.phones-container {
  margin: 0;
  padding: 0;
  background-color: #ce4679;
}
.brands-container hr,
.phones-container hr {
  margin: 1rem 0;
  padding: 0.08rem 0;
  background-color: #ddd;
  border: none;
}
.brands-container .brands-list,
.phones-container .brands-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e04883;
  width: 100%;
}
.brands-container .brands-list li:nth-child(even),
.phones-container .brands-list li:nth-child(even) {
  background-color: #ce4679;
}
.brands-container .brands-list .brand-card,
.phones-container .brands-list .brand-card {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.brands-container .brands-list .brand-card > *,
.phones-container .brands-list .brand-card > * {
  padding: 0.4rem;
}
.brands-container .brands-list .brand-card .c1,
.phones-container .brands-list .brand-card .c1 {
  display: flex;
  flex-direction: column;
}
.brands-container .brands-list .brand-card .c1 button,
.phones-container .brands-list .brand-card .c1 button {
  cursor: pointer;
  align-self: flex-end;
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgba(224, 72, 131, 0.1);
}
.brands-container .brands-list .brand-card .c1 button .details-icon,
.phones-container .brands-list .brand-card .c1 button .details-icon {
  width: 1.7rem;
}
.brands-container .brands-list .brand-card .c1 .brand-logo,
.phones-container .brands-list .brand-card .c1 .brand-logo {
  text-align: center;
  font-family: "Lato", "Cabin";
  font-size: 0.6rem;
  font-weight: 900;
  color: #7e353b;
}
.brands-container .brands-list .brand-card .c2,
.phones-container .brands-list .brand-card .c2 {
  text-align: end;
}
.brands-container .brands-list .brand-card .c2 .brand-name,
.phones-container .brands-list .brand-card .c2 .brand-name {
  margin: 0;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-family: "Lato", "Cabin";
  font-size: 1.3rem;
  font-weight: 900;
}
.brands-container .brands-list .brand-card .c2 .brand-device-count,
.phones-container .brands-list .brand-card .c2 .brand-device-count {
  font-family: "Gill Sans", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}
.brands-container .phones-list,
.phones-container .phones-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ce4679;
  width: 100%;
}
.brands-container .phones-list li:nth-child(even),
.phones-container .phones-list li:nth-child(even) {
  background-color: #e04883;
}
.brands-container .phones-list .phone-card,
.phones-container .phones-list .phone-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0.3rem;
}
.brands-container .phones-list .phone-card > *,
.phones-container .phones-list .phone-card > * {
  padding: 0.4rem;
}
.brands-container .phones-list .phone-card .c1,
.phones-container .phones-list .phone-card .c1 {
  text-align: end;
}
.brands-container .phones-list .phone-card .c1 .phone-name,
.phones-container .phones-list .phone-card .c1 .phone-name {
  margin: 0;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-family: "Lato", "Cabin";
  font-size: 1.3rem;
  font-weight: 900;
}
.brands-container .phones-list .phone-card .c2,
.phones-container .phones-list .phone-card .c2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.brands-container .phones-list .phone-card .c2 .phone-image,
.phones-container .phones-list .phone-card .c2 .phone-image {
  text-align: center;
  font-family: "Lato", "Cabin";
  font-size: 0.6rem;
  font-weight: 900;
  color: #7e353b;
}
.brands-container .phones-list .phone-card .c3,
.phones-container .phones-list .phone-card .c3 {
  display: flex;
  flex-direction: column;
}
.brands-container .phones-list .phone-card .c3 button,
.phones-container .phones-list .phone-card .c3 button {
  cursor: pointer;
  align-self: flex-end;
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgba(224, 72, 131, 0.1);
}
.brands-container .phones-list .phone-card .c3 button .details-icon,
.phones-container .phones-list .phone-card .c3 button .details-icon {
  width: 1.7rem;
}
.brands-container .rockets-list,
.phones-container .rockets-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0 1rem;
}
.brands-container .rockets-list .rocket-card,
.phones-container .rockets-list .rocket-card {
  display: flex;
  gap: 1rem;
}
.brands-container .rockets-list .rocket-card .c1 .rocket-image,
.phones-container .rockets-list .rocket-card .c1 .rocket-image {
  width: 15rem;
}
.brands-container .rockets-list .rocket-card .c2,
.phones-container .rockets-list .rocket-card .c2 {
  display: flex;
  flex-direction: column;
}
.brands-container .rockets-list .rocket-card .c2 .rocket-name,
.phones-container .rockets-list .rocket-card .c2 .rocket-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  text-align: left;
  color: #000;
}
.brands-container .rockets-list .rocket-card .c2 .rocket-res-desc,
.phones-container .rockets-list .rocket-card .c2 .rocket-res-desc {
  display: flex;
}
.brands-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-unavailable,
.phones-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-unavailable {
  text-align: left;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  margin-right: 0.4rem;
  border: none;
  background-color: #008f99;
}
.brands-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-available,
.phones-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-available {
  display: none;
}
.brands-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-description,
.phones-container .rockets-list .rocket-card .c2 .rocket-res-desc .rocket-description {
  margin: 0.2rem 0;
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.brands-container .rockets-list .rocket-card .c2 button,
.phones-container .rockets-list .rocket-card .c2 button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.brands-container .rockets-list .rocket-card .c2 .btn-cancel-reservation,
.phones-container .rockets-list .rocket-card .c2 .btn-cancel-reservation {
  color: #555;
  background-color: #f7f7f7;
  border: solid 0.1rem #888;
}
.brands-container .rockets-list .rocket-card .c2 .btn-reserve-rocket,
.phones-container .rockets-list .rocket-card .c2 .btn-reserve-rocket {
  border: none;
  color: #fff;
  background-color: #1f81dd;
}/*# sourceMappingURL=index.css.map */